
body {
    margin : 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0;
}

/* header section start */

#header-section {
    display: flex;
    overflow: hidden;
    padding-bottom: 30px;
   
}
.header-text {
    width: 40%;
    padding-top:270px;
    padding-left:100px
}
.header-text h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 78px;
    text-transform: capitalize;
}
.header-text h1 span {
    color:  #FBA24F;
}
.header-text p{
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    padding-right:  120px;
    padding-bottom: 50px;
}
.header-img  {
    width: 40%;
  
    display: flex;
}
.header-img .first-img {
    padding-top: 113px;
    position: relative;
    z-index: 100;
}
.header-img .second-img {
    width: 200px;
    height: 140px;
    position: absolute;
    right: 3%;
    top:70%;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid #FBA24F;
    padding: 14px 35px;
    background-color: #FBA24F;
    border-radius: 40px;
}
/* header section End */

/* About part */
#about-section{
    display: flex;
    padding-top: 80px;
    background-image: url("images/about-bg.png");
}
.about-img {
    width: 40%;
    margin: 0 auto;
}
.about-img img {
    width: 345px;
    height: auto;
}
.about-text {
    width: 40%;
    text-align: left;
    padding-top:50px
}
.about-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 54px;
}
.about-text p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    padding-right: 100px;
    text-align: justify;
    padding-bottom: 40px;
}
/* About part */

/* Recipe Section */
#recipe-section {
    background: #E5E5E5;
}

.recipe-head {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.recipe-head h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 43.88px;
    font-weight: 700;
    padding: 10px 0;
}
.recipe-head p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24.55px;
    font-weight: 300;
    padding : 0 210px;
    
}
.recipe-middle{
    display: flex;
    padding-top: 20px;
    padding-bottom: 90px;

}
.box-modle {
    width: 40%;
    margin: 0 auto;
    margin-left: 2%;
    border: 1px 1px white;
    text-align: center;
    background: white;
    border-radius: 30px;
    padding: 20px;
}
.box-modle img {
  width : 500px;
  height : auto;
  
}
.recipe-middle h3 {
    padding:10px 0;
    text-align: left;
    margin-left: 20px;
    font-size: 28px;
}
.recipe-middle p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-left: 20px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.recipe-footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    background: white;
    padding: 50px 95px;
    border-radius: 20px;
}
.recipe-footer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 900;
    text-align: left;
}



/* Recipe Section */